.App {
  text-align: center;
  position: relative;
}
.App-router-container {
  padding: 10px 40px;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.declare {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 30px;
  background-color: rgba(33, 33, 33, .7);
  color: #fff;
  padding: 30px 20px;
  text-align: left;
  z-index: 99;
  .stick {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
  }
  .stick-opacity {
    right: -32px;
    background-color: #333;
    box-shadow: 2px 2px 6px 1px #7b7b7b;
    opacity: .5;
  }
}
.declare-stick {
  width: 0;
  padding: 0;
  left: 0;
  right: inherit;
  color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// others
code {
  background-color: #ccc;
  border-radius: 4px;
  color: #0c909c;
  padding: 0 4px;
}
